@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap");

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 55%;
  padding: 30px 50px;
  border-radius: 10px;
  height: 50%;
}

.about__box p {
  font-family: "Nanum Gothic Coding", monospace;
}

.about__box .detail_desc {
  line-height: 140%;
}

@media screen and (max-width: 1240px) {
  .about__box {
    width: 60%;
  }

  .about__box p {
    font-size: 14px;
  }
}

/* Tablet */
@media screen and (max-width: 1024px) {
  .about__box {
    width: 70%;
    height: 40%;
  }
}

@media screen and (max-width: 768px) {
  .about__box {
    width: 80%;
    height: 30%;
  }
}

@media screen and (max-width: 600px) {
  .about__box p {
    font-size: 13px;
  }
}

/* mobile */
@media screen and (max-width: 480px) {
  .about__box  {
    width: 85%;
    padding: 0 20px;
  }

  .about__box p {
    font-size: 11px;
  }
}

@media screen and (max-width: 380px) {
  .about__box  {
    width: 85%;
    height: 40%;
  }

  .about__box p {
    font-size: 11px;
  }
}