@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
#root {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie__detail {
  width: 85%;
  font-size: 20px;
  display: flex;
  font-family: 'Noto Sans', 'Courier New', Courier, monospace;
}

.movie__detail img {
  width: 500px;
  height: 550px;
  margin-right: 70px;
  box-shadow: 10px 8px 10px 10px rgba(0, 0, 0, 0.24);
}

.movie__detail .movie__detail__data {
  margin-top: 40px;
  padding-right: 20px;
}

.movie__detail .movie__detail__data .movie__title {
  font-size: 28px;
  margin-bottom: 30px;
}

.movie__detail .movie__detail__data .movie__year {
  font-size: 18px;
}

.movie__detail .movie__detail__data .movie__genres {
  list-style: none;
  padding: 0;
  display: flex;
}

.movie__detail .movie__detail__data .movie__genres .movie__genre {
  margin-right: 10px;
}

.movie__detail .movie__detail__data .movie__summary {
  margin-top: 60px;
  font-size: 18px;
  color: #2c2c2c;
}

.movie__detail h2,
.movie__detail h4 {
  margin: 0;
}

/* mobile */
@media screen and (max-width: 480px) {
  #root {
    width: 100%;
    height: 100%
  }

  .movie__detail {
    width: 95%;
    height: 80%;
    margin-top: 50px;
    flex-direction: column;
    padding-left: 30px;
  }

  .movie__detail img {
    width: 150px;
    height: 200px;
    margin-right: 70px;
  }

  .movie__detail .movie__detail__data .movie__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .movie__detail .movie__detail__data .movie__year  {
    font-size: 15px;
    padding-bottom: 0;
  }

  .movie__detail .movie__detail__data .movie__genres .movie__genre {
    font-size: 14px;
    position: relative;
    top: -15px;
  }

  .movie__detail .movie__detail__data .movie__summary {
    margin-top: 0;
    font-size: 15px;
  }
}