.movies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 50px;
  padding-top: 80px;
  width: 80%;
}

.movies .movie {
  width: 45%;
  background-color: var(--white-color);
  margin-bottom: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  border-radius: 6px;
  color: #adaeb9;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movies .movie img {
  position: relative;
  top: -50px;
  max-width: 120px;
  margin-right: 30px;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movies .movie .movie__data .movie__title,
.movies .movie .movie__data .movie__year {
  margin: 0;
}

.movies .movie .movie__data .movie__title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 22px;
  color: #2c2c2c;
}

.movies .movie .movie__data .movie__genres {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 5px;
}

.movies .movie .movie__data .movie__genres li {
  margin-right: 8px;
}

.movies .movie .movie__data .movie__summary {
  font-size: 14px;
}